[Unit]
Description=(Re)store the netctl profile state
Documentation=man:netctl.special(7)
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/bin/netctl restore
ExecStop=/usr/bin/netctl store

[Install]
WantedBy=multi-user.target
