[package]
name = "ruzstd"
version = "0.2.0"
authors = ["Moritz Borcherding <moritz.borcherding@web.de>"]
edition = "2018"
license = "MIT"
homepage = "https://github.com/KillingSpark/zstd-rs"
repository = "https://github.com/KillingSpark/zstd-rs"
description = "A decoder for the zstd compression format"

[dependencies]
byteorder = "1.3.2"
twox-hash = "1.5.0"