[Unit]
Description=Device-mapper event daemon
Documentation=man:dmeventd(8)
Requires=dm-event.socket
After=dm-event.socket
Before=local-fs-pre.target shutdown.target
Conflicts=shutdown.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/dmeventd -f
Environment=SD_ACTIVATION=1
PIDFile=/run/dmeventd.pid
OOMScoreAdjust=-1000
