on: [push, pull_request]

name: CI

jobs:
  tests:
      name: stable lint, test, build
      runs-on: ubuntu-latest
      steps:
        - name: Checkout sources
          uses: actions/checkout@v4

        - name: Install stable toolchain
          uses: dtolnay/rust-toolchain@stable
          with:
            components: clippy
        - name: Install cargo-hack and cargo-msrv
          uses: taiki-e/install-action@v2
          with:
            tool: cargo-hack, cargo-msrv
        - name: check
          run: cargo hack check --workspace --feature-powerset --exclude-features rustc-dep-of-std
        - name: cargo hack clippy
          run: cargo hack clippy --workspace --feature-powerset --exclude-features rustc-dep-of-std
        - name: cargo hack test
          run: cargo hack test --workspace --feature-powerset --exclude-features rustc-dep-of-std
        - name: Verify MSRV (cli)
          run: cargo msrv verify --path cli/
        - name: Verify MSRV (lib)
          run: cargo msrv verify --path ruzstd/

  nightly-stuff:
    name: nightly lint, miri
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install nightly toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt, clippy, miri

      - run: cargo +nightly fmt --all -- --check
      - run: cargo +nightly clippy --workspace --no-default-features -- -D warnings
      - run: cargo +nightly clippy --workspace -- -D warnings
      - run: cargo +nightly miri test ringbuffer
      - run: cargo +nightly miri test short_Writer
